@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

.title-text {
    color: goldenrod;
    text-shadow: 5px 5px black;
    font-family: 'Rubik';
    font-size: 40px;
}

#banner {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url(/images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}