$blurs: (
    "blur-quarter": 2px,
    "blur-half": 4px,
    "blur-tq": 6px,
    "blur-full": 8px
);

$top-padding: (
    "pt-200": 200px,
    "pt-225": 225px,
    "pt-250": 250px,
    "pt-300": 300px,
    "pt-500": 500px
);

$left-padding: (
    "pl-100": 100px,
    "pl-150": 150px
);

$heights: (
    "hght-100": 100px,
    "hght-400": 400px,
    "hght-500": 500px
);

@each $name, $percent in $blurs {
    .#{$name} {
        filter: blur($percent);
        -webkit-filter: blur($percent);
    }
}

@each $name, $padding in $top-padding {
    .#{$name} {
        padding-top: $padding;
    }
}

@each $name, $padding in $left-padding {
    .#{$name} {
        padding-left: $padding;
    }
}

@each $name, $height in $heights {
    .#{$name} {
        height: $height;
    }
}